.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  gap: 1rem; 
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

.submit {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 1rem;  
  box-sizing: border-box; 
}

.submit-input {
    max-width: 100%;
    font-size: 1rem;
    border-radius: 8px;
    padding: 1rem;
    border: none;
    background-color: #2a2d2f;
    color: #fff;
    transition: all 0.2s ease;
}

.feedback {
  max-width: 100%;
  font-size: 1rem;
  padding: 1rem;
}

.submit-input:focus {
    outline:none;
}

.submit-button {
  background-color: transparent;
  max-width: 100%;
  padding: 0.6rem;
  border: 2px solid #deb1ff; 
  color: #deb1ff;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.submit-button:hover {
  background-color: #deb1ff;
  color: black; 
}



