.score-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; 
  width: 640px;
  gap: 1rem;
}

.score {
  font-weight: 500;
  font-size: 1.5rem;
}

.quiz-progress {
  display: flex;
  flex-direction: column;       
  align-items: center;          
}

.quiz-progress > p {
  color: #deb1ff;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.8rem;
  border-radius: 3px;
  overflow: hidden;
  background-color: #2a2d2f;
}

progress::-webkit-progress-bar {
  background-color: #2a2d2f;
}

progress::-webkit-progress-value {
  background-color: #deb1ff;
  border-radius: 3px;
}

progress::-moz-progress-bar {
  background-color: #deb1ff;
  border-radius: 3px;
}
